.App-header {
  height: 200px;
}

.App-header {
  background-color: #fdfdfd;
  height: 200px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App-logo {
  width: 160px;
  margin-left: 20px;
}